.swiper-slide img {
    width: 100%;
}
.swiper-button-next,
.swiper-button-prev {
    display: none;
}
.swiper-pagination {
    position: initial;
    margin: 0.75em 1em;
}
@media screen and (min-width: 1024px) {
    .swiper{
        width: 50%;
        margin: 1em auto;
        padding: 1em 10%;
        background-color: var(--clr-10);
        border-radius: 1em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .swiper-pagination{
        margin: 2em 0 3em 0;
        background-color: var(--clr-9);
        border-radius: 1em;
        stroke: rgba(0, 0, 0, 0.25);
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: block;
        top: 60%;
    }
}
@media screen and (min-width:1728px) {
    .swiper-pagination{
        margin: 1em 0;
    }
    .swiper{
        width: 75%;
    }
}