.card{
    background: var(--clr-11);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.625em;
    margin: 1em;
    padding: 1em;
}
.card__description{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.description__title{
    color: var(--clr-14);
    font-weight: 700;
}
.description__title-book{
    color: var(--clr-16);
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0.5em 0;
}
.description__text{
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.description__img{
    width: 10em;
    margin-bottom: 1.5em;
}
.card__buttons{
    display: flex;
    justify-content: space-between;
}
.buttons{
    display: flex;
    align-items: center;
}
.buttons__item{
    margin: 0.5em;
}
.buttons__item-img{
    width: 1.5em;
}
.Buttons__anchor{
    background-color: var(--clr-14);
    padding: 1em 2.2em;
    color: var(--clr-11);
    font-weight: 700;
    text-decoration: none;
}