.contact{
    background: var(--clr-11);
    color: var(--clr-16);
    text-align: center;
    padding: 1.5em;
}
.contact__description{
    text-align: left;
}
.contact__title{
    font-weight: 500;
    font-size: 1.125rem;
}
.contact__text{
    font-weight: 300;
    font-size: 1rem;
    padding: 0.5em 0 1.5em 0;
}
.contact__mail{
    border: 1px solid var(--clr-16);
    border-radius: 1.5em;
    padding: 0.8em;
    width: 90%;
}
.contact__mail::placeholder{
    font-family: var(--font-1);
    font-size: 0.875rem;
    color: var(--clr-17);
    font-weight: 500;
    padding-left: 3.5em;
    background: url(../../img/mobile/Mail.svg) no-repeat;
    background-position: 1.2em; 
}
.contact__mail:focus::placeholder{
    background: transparent;
    padding-left: 0;
    margin-right: 100%;
    transition: 1s;
}
@media screen and (min-width: 1024px) {
    .contact{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5em 2.5em;
    }
    .contact__description{
        margin-right: 5em;
        width: 35%;
    }
    .contact__title{
        font-size: 1.5rem;
    }
    .contact__text{
        font-size: 1rem;
    }
    .contact__mail{
        width: 30%;
    }
}
@media screen and (min-width:1728px) {
    .contact{
        padding: 3em 20vw;
    }
}