.footer {
    text-align: center;
    padding: 1em;
    background-color: var(--clr-10);
    border-top: 1px solid var(--clr-1);
}
.footer__logo{
    width: 5em;
    border: 0.5em solid var(--clr-11);
}
.footer__list{
    display: none;
}

.alura{
    display: flex;
    flex-direction: column;
}
.footer__name{
    text-decoration: none;
    color: var(--clr-1);
    margin-bottom: 1em;
}
@media screen and (min-width: 1024px) {
    .footer{
        padding: 3em 2em;
        display: flex;
        justify-content: space-between;
    }
    .footer__name{
        font-size: 1.5rem;
    }
    .footer__list{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        text-align: center;
        gap: 1em;
    }
    .footer__topic{
        font-weight: 400;
        font-size: 0.875rem;
        color: var(--clr-7);
        text-transform: uppercase;
    }
    .footer__item{
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-weight: 400;
        font-size: 0.875rem;
        color: var(--clr-5);
    }
}
@media screen and (min-width:1728px) {
    .footer__list{
        border-left: 1px solid var(--clr-8);
        padding-left: 1em;
    }
    .footer{
        padding: 3em 0;
        justify-content: space-evenly;
    }
}