<<<<<<< HEAD
.sections__title {
    color: var(--clr-14);
    background-color: var(--clr-11);
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0 0.5em 0;
    font-size: 1.125rem;
    font-weight: 700;
}
.sections__text{
    color: var(--clr-18);
    background-color: var(--clr-10);
    text-align: center;
    padding: 1em 0.5em 0.5em 0.5em;
    font-size: 0.875rem;
    font-weight: 500;
}
@media screen and (min-width: 1024px) {
    .sections__title{
        font-size: 1.625rem;
    }
    .sections__text{
        font-size: 1.125rem;
    }
}
@media screen and (min-width:1728px) {
    .sections__container{
        display: flex;
        margin: 3em 10vw 3em 10vw;
    }
    .sections__container-row{
        flex-direction: row-reverse ;
    }
=======
.sections__title {
    color: var(--clr-14);
    background-color: var(--clr-11);
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0 0.5em 0;
    font-size: 1.125rem;
    font-weight: 700;
}
.sections__text{
    color: var(--clr-18);
    background-color: var(--clr-10);
    text-align: center;
    padding: 1em 0.5em 0.5em 0.5em;
    font-size: 0.875rem;
    font-weight: 500;
}
@media screen and (min-width: 1024px) {
    .sections__title{
        font-size: 1.625rem;
    }
    .sections__text{
        font-size: 1.125rem;
    }
}
@media screen and (min-width:1728px) {
    .sections__container{
        display: flex;
        margin: 3em 10vw 3em 10vw;
    }
    .sections__container-row{
        flex-direction: row-reverse ;
    }
>>>>>>> 7afeacbec3f9b3a2efd964fef3b87fcbaf5932a7
}