.topics{
    background: var(--fade-1);
    border-top: 1em solid var(--clr-11);
    text-align: center;
    padding: 0.5em;
}
.topics__title{
    color: var(--clr-11);
    font-weight: 300;
    margin: 2em 0;
}
.topics__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.topics__item{
    background-color: var(--clr-14);
    padding: 1em 1.5em;
    margin: 0.5em;
}
.topics__anchor{
    color: var(--clr-11);
    text-decoration: none;
}